@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'SfProRounded';
}

  /* src: url("/fonts/SF-Pro-Rounded-Bold.otf");
  src: url("/fonts/SF-Pro-Rounded-Heavy.otf");
  src: url("/fonts/SF-Pro-Rounded-Medium.otf");
  src: url("/fonts/SF-Pro-Rounded-Regular.otf");
  src: url("/fonts/SF-Pro-Rounded-Ultralight.otf"); */

@font-face {
  font-family: 'SfProRounded';
  src: url("/fonts/SF-Pro-Rounded-Light.otf");
  format: ("otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SfProRounded';
  src: url("/fonts/SF-Pro-Rounded-Medium.otf");
  format: ("otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SfProRounded';
  src: url("/fonts/SF-Pro-Rounded-Heavy.otf");
  format: ("otf");
  font-weight: 900;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.twoRows {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.threeRows {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

